source{d} MLoSC models
======================
{% for name, items in models.items() | sort %}
{{ "" }}
## {{ name }}
{{ items.description }}

Example:

```
{{ items.code % "" }}
```

{{ items | length - (metakeys | length) }} model{{ "s" if items | length > (metakeys | length + 1) }}:

    {% for key, item in items.items() | sort %}
        {% if key not in metakeys %}
* {{ "<default>" if key == items["default"] }} [{{ key }}]({{ links[key] }}) {{ " → [%s](%s)" % (item["parent"], links[item["parent"]]) if item["parent"] }}
        {% endif %}
    {% endfor %}
{% endfor %}