# {{ name }}

{{ details.description }}

Example:

```
{{ code % ("\"" + uuid + "\"") }}
```

### References

{% for ref in details.references %}
* [{{ ref[0] }}]({{ ref[1] }})
{% endfor %}

|    |    |
|:---|:---|
| ID       | {{ uuid }} |
| Uploaded | {{ details.created_at }} |
| Version  | {{ details.version | join(".") }} |
| File     | {{ details.url }} |
| Size     | {{ size }} |
{% for key, val in details.extra.items() | sort %}
| {{ key }} | {{ val }} |
{% endfor %}
| License  | [{{ details.license[0] }}]({{ details.license[1] }}) |

{% if details.dependencies %}
### Dependencies

    {% for dep in details.dependencies %}
* [{{ dep }}]({{ links[dep] }})
    {% endfor %}
{% endif %}